@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
    background-color: #152b3e;
    color: #ffffff;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background: #154b86;
}

::-webkit-scrollbar-thumb {
  background: #3ed1b8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #37b19c; 
}

.mainbox {
    margin: auto;
    background: transparent;
    height: 600px;
    margin-top: 250px;
    width: 600px;
    position: relative;
}
  
.err {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position:absolute;
  left: 20%;
  top: 8%;
}
  
.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #3ed1b8;
}   
  
.err2 {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position:absolute;
  left: 68%;
  top: 8%;
}
  
.msg {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  position:absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

a {
text-decoration: none;
color: #3ed1b8;
}

a:hover {
text-decoration: none;
color: '#3ed1b8';
}


@media screen and (max-width: 650px) {
  .mainbox {
    margin: auto;
    background: transparent;
    height: 100%;
    margin-top: 120px;
    width: 95%;
  }
  .msg {
    top: 200px;
  }
  .far {
    top: 30px;
    left: 34%;
  }
  .err {
    font-size: 150px;
    left: 10%;
  }
  .err2 {
    font-size: 150px;
    right: 10%;
  }
  .far {
    font-size: 120px;
  }
}

