@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1980' height='1080' preserveAspectRatio='none' viewBox='0 0 1980 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1145%26quot%3b)' fill='none'%3e%3crect width='1980' height='1080' x='0' y='0' fill='rgba(10%2c 35%2c 61%2c 1)'%3e%3c/rect%3e%3cpath d='M532.6390166086964 9.708351321070268L188.5948366616284-8.651038634341148 320.6219829939844 262.0447266836402z' fill='rgba(73%2c 99%2c 127%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1426.6 761.05 a342.25 342.25 0 1 0 684.5 0 a342.25 342.25 0 1 0 -684.5 0z' fill='rgba(73%2c 99%2c 127%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1512.5048092757017 270.10037658531525L1642.5985493767505 405.0735729594521 1690.5099701480513 248.36237687434726z' fill='rgba(73%2c 99%2c 127%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1034.2874115469933 1033.8162781692515L1127.5230569601406 842.6548762065504 794.1631313095152 798.38210906818z' fill='rgba(73%2c 99%2c 127%2c 0.38)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M564.2308564278046 375.5833779718148L547.0328167737808 572.1578707222704 743.6073095242365 589.3559103762942 760.8053491782603 392.78141762583857z' fill='rgba(73%2c 99%2c 127%2c 0.38)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1145'%3e%3crect width='1980' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    color: #ffffff;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  background: #154b86;
}

::-webkit-scrollbar-thumb {
  background: #3ed1b8;
}

.mainbox {
    margin: auto;
    background: transparent;
    height: 600px;
    margin-top: 250px;
    width: 600px;
    position: relative;
}
  
.err {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position:absolute;
  left: 20%;
  top: 8%;
}
  
.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #3ed1b8;
}   
  
.err2 {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position:absolute;
  left: 68%;
  top: 8%;
}
  
.msg {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  position:absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

a {
text-decoration: none;
color: #3ed1b8;
}

a:hover {
text-decoration: none;
color: '#3ed1b8';
}


@media screen and (max-width: 650px) {
  .mainbox {
    margin: auto;
    background: transparent;
    height: 100%;
    margin-top: 120px;
    width: 95%;
  }
  .msg {
    top: 200px;
  }
  .far {
    top: 30px;
    left: 34%;
  }
  .err {
    font-size: 150px;
    left: 10%;
  }
  .err2 {
    font-size: 150px;
    right: 10%;
  }
  .far {
    font-size: 120px;
  }
}

