body {
    background-color: #072540;
    color: #00467c;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    
}


.PrivateTabIndicator-root-12 {
    background: #a1a1a1;
}

.App {
    color: #00467c;
}

/*    HOME PAGE    */
.title {
    color: #001B2E;
    font-size: 1000%;
    margin-top: 15%;
    margin-left: 32%;
    margin-right: 15%;
}

.home {
    
}

.anim {
    margin: 0;
  position: absolute;
  top: 80%;
  
  left: 50%;
}


/*    TASK PAGE    */
.details {
    width: 80%;
    margin: auto;
    
}

.add {
    color: rgb(102, 199, 167);
}


.taskname {
   
    margin-top: 100px;
    margin-bottom: -200px;
    
}

.MuiBottomNavigationAction-root.Mui-selected {
    color: #ffffff;
    transform: scale(110%);
}
