@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #183d5d;
  background-image: url("./Img/bg.svg");
  color: #ffffff;
  height: 100%;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background: #154b86;
}

::-webkit-scrollbar-thumb {
  background: #3ed1b8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #37b19c;
}

.mainbox {
  margin: auto;
  background: transparent;
  height: 600px;
  margin-top: 250px;
  width: 600px;
  position: relative;
}

.err {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #3ed1b8;
}

.err2 {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

a {
  text-decoration: none;
  color: #3ed1b8;
}

a:hover {
  text-decoration: none;
  color: "#3ed1b8";
}

footer {
  height: 250px;
  background-color: #06192e;
  display: flex;
  box-sizing: border-box;
  padding: 15px 60px;
}
footer .content {
  display: block;
  margin: auto;
  display: grid;
  width: 80%;
  grid-template-columns: 7fr 2fr 2.5fr;
  column-gap: 50px;
  row-gap: 15px;
  justify-content: space-evenly;
  max-height: inherit;
}
footer .about {
  margin: auto;
  margin-top: 10px;
  max-width: 500px;
}
span.question {
  font-size: 15px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav a {
  display: block;
  font-size: 15px;
  margin: 7px 0;
  color: rgb(255, 255, 255);
}

p.answer {
  /* max-width: 500px; */
  color: #ffffff;
}

.footer-contact span {
  font-size: 16px;
  color: #ffffff;
  margin: 9px 0;
  /* white-space: nowrap; */
  width: 100px;
  display: inline-block;
}

span#copyrights {
  grid-column: 1/4;
  justify-self: center;
  color: #969696;
}

.footer-contact svg:first-child {
  margin-right: 9px;
}

@media screen and (max-width: 850px) {
  footer {
    height: 560px;
    margin: 0;
  }

  .footer-nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer-nav a {
    padding: 10px;
  }
  footer .content {
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 40px;
    column-gap: 0;
  }
  footer .content > div {
    margin: auto;
    grid-column: 1/2;
  }
  .footer-contact {
    text-align: left;
  }
  span#copyrights {
    margin-top: auto;
  }
}

.menuButton {
  font-weight: 500;
  font-size: "20px";
  margin-left: "38px";
  text-decoration: "none";
  color: "#fff";
}
@media screen and (max-width: 650px) {
  .mainbox {
    margin: auto;
    background: transparent;
    height: 100%;
    margin-top: 120px;
    width: 95%;
  }
  .footer-contact span {
    min-width: 160px;
  }
  .footer-nav {
    max-width: 300px;
    flex-wrap: wrap;
  }
  .msg {
    top: 200px;
  }
  .far {
    top: 30px;
    left: 34%;
  }
  .err {
    font-size: 150px;
    left: 10%;
  }
  .err2 {
    font-size: 150px;
    right: 10%;
  }
  .far {
    font-size: 120px;
  }
}
